body {
    font-family: "Montserrat", sans-serif;
}

.container {
    text-align: center;
    margin: 20px auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    margin: 0 auto;
}

.form label,
.form legend {
    font-size: 16px;
    font-weight: 600;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
}

fieldset label {
    display: flex;
    align-items: center;
    gap: 5px;
}

input,
button {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #f0f0f0;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #ccc;
}

button:hover {
    background-color: #e0e0e0;
}